#paineis-sobre{
    margin-top: 20px;
}

.titulo-depoimentos{
    background-color: #f0ad4e;
    padding-top: 25px;
    padding-bottom:25px;
    color: #FFF;
    margin-bottom: 0;
    font-size: 24px;
}

.contato-select,
.grupo-radio {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.grupo-radio .rad:first-child{
    maargin-top:0;
}

footer{
    background-color: #f0ad4e;
    color: #FFF;
    padding: 20px;
    margin-top: 10px;
}

footer adress:last-child{
    margin-bottom:0;
}
.jumbotron{
    background-color: #f0ad4e;
    color: #FFF;
    font-style: normal;
}


.navbar {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.navbar .navbar-brand {
    color: #FFF;
    font-style: normal;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
html,
body{
    height: 100%;
}

header {
    background-image: url(img/castelo.jpg);
    background-size:cover;
    background-position: top center;
    height: 100%;

}
header h1{
    margin-top: 0;
    margin-bottom: 0;
}

.topCasaFina-banner {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;

}


